<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="binding">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://0005031683-one-off.sap.com/Y95U890AY_':    -->
                    <!--    <wsdl:binding name='binding'>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP12">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://0005031683-one-off.sap.com/Y95U890AY_':    -->
                    <!--    <wsdl:binding name='binding_SOAP12'>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://my351064.sapbydesign.com/sap/bc/srt/scs/sap/yy95u890ay_ws_insertpaymentfil?sap-vhost=my351064.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding" contract="GetBankDocument.Y95U890AY_WS_InsertPaymentFile"
                name="binding" />
            <endpoint address="https://my351064.sapbydesign.com/sap/bc/srt/scs/sap/yy95u890ay_ws_insertpaymentfil?sap-vhost=my351064.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding_SOAP12"
                contract="GetBankDocument.Y95U890AY_WS_InsertPaymentFile"
                name="binding_SOAP12" />
        </client>
    </system.serviceModel>
</configuration>